<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="assets/svalbard.jpg">
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">Crisnat Learning</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">The Svalbard Island, Norway</h1>
            <p class="leading-relaxed">The northern parts of Norway are the best places in the world to see the northern lights, one of which is The Svalbard Island, as this part of the country lies just below the auroral oval.The fact, that these lights appear so amazing is that when atoms and molecules in the upper atmosphere are hit by high energy electrons, the aurora beams are produced.</p>
            <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
          </div>
          <div class="flex">
            <a routerLink = "">
              <button class="flex ml-auto text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded">Go to Home</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>