<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="assets/FairyPools.jpg">
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">Crisnat Learning</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">The Fairy Pools, Scotland</h1>
            <p class="leading-relaxed">At foot of the Black Cuillins near Glenbrittle are the Fairy Pools, beautifully crystal clear blue pools on the River Brittle.On a sunny day, the turquoise waters of the natural pools are so clear, one can readily see each moss-covered stone at the bottom. The area is also host to a large number of birds. Large flocks of crows, ravens, and gulls are present in the area, as well as such smaller birds as meadow pipits, turnstones, common ringed plovers, grey herons, dunlins, and curlews. The physical landscape is predominantly rocky, with some boggy areas here and there. The water in the area is typically cold, as the pools are fed by mountain streams. The waters of the Fairy Pools might be bone-chillingly cold, but their near supernatural atmosphere has made them one of Scotland’s most enduring natural wonders.</p>
            <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
          </div>
          <div class="flex">
            <a routerLink = "">
              <button class="flex ml-auto text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded">Go to Home</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>