<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img class="lg:w-1/2 w-full lg:h-96 h-64 object-cover object-center rounded" src="assets/monolith.jpg">
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">Crisnat Learning</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">The Monolith</h1>
            <p class="leading-relaxed">In Arthur C. Clarke's Space Odyssey, Monoliths are machines built by an unseen extraterrestrial species. In the series of novels, three Monoliths are discovered in the Solar System by hominids and humans. The response of the characters to their discovery drives the plot of the series.
            <br>Here are the list of countries where monoliths are found:<br><br><b>India - December 29, 2020</b><br>On December 29, 2020, a monolith appeared at Symphony Forest Park in Ahmedabad, Gujarat. One of the panels features etched numbers, relating to longitudes and latitudes of wildlife parks in India. The anonymous artist said in an interview that "The monolith is shrouded in mystery around the world because people enjoy the mystery of unlocking new ideas and unlocking new thoughts. And this was my contribution to that — engagement of thinking."
            <br><br><b>Morocco</b><br>On December 10, 2020, a monolith was reported in a construction site in Zenata near Casablanca. Upon investigation, it was determined that the structure was installed by the chemicals and logistics company "Top Negoce" as part of a communication campaign for its new robot "Aya", made in partnership with a Silicon Valley company, and that the robot in question is reportedly trapped inside the structure.
            <br><br><b>Austria</b><br>On December 6, 2020, a monolith appeared in Katschberg, near the B99 road, It disappeared shortly after. On December 10, 2020, the same monolith previously seen in Katschberg was spotted on a golf course, in the district of Tamsweg, Salzburg. On December 14, 2020, another monolith was found on a field in Peuerbach in Upper Austria.
            <br><br><b>And many <a href="https://en.wikipedia.org/wiki/List_of_works_similar_to_the_2020_Utah_monolith#:~:text=On%20December%2010%2C%202020%2C%20a%20%22mysterious%20monolith%22%20was,monolith%20was%20discovered%20in%20Finland."><u>more</u>...</a></b></p>
            <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
          </div>
          <div class="flex">
            <a routerLink = "">
              <button class="flex ml-auto text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded">Go to Home</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>