<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Welcome to the world of</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Crisnat Learning</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">This is a platform where you can get all the valid
        information about several things, which is currently a mystery for everyone. But you are smart so you should try
        your brain over these.<br> This website contain information about the mysteries, unknown facts and other
        knowledge that should be known to normal people, also we have another portal that have a vast amount of problem
        related to computer science.</p>
    </div>
    <div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">The Bermuda Triangle</h2>
        <img src="assets/bermuda.jpg" border-radius="50%">
        <p class="leading-relaxed text-base mb-4">The Bermuda Triangle, also known as the Devil's Triangle, is a loosely
          defined region in the western...</p>
        <a routerLink = "/bermuda" class="text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">The Monolith</h2>
        <img src="assets/monolith.jpg" border-radius="50%">
        <p class="leading-relaxed text-base mb-4">In Arthur C. Clarke's Space Odyssey, Monoliths are machines built by
          an unseen extraterrestrial species...</p>
        <a routerLink = "/monolith" class="text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">The Mariana Trench</h2>
        <img src="assets/MTrench2.jpg" border-radius="50%">
        <p class="leading-relaxed text-base mb-4">In 2016, marine biologists studying the Mariana Trench heard a
          strange, anomalous sound of unknown origin...</p>
        <a routerLink = "/mtrench" class="text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">The Red Sea</h2>
        <img src="assets/redsea2.jpg" border-radius="50%">
        <p class="leading-relaxed text-base mb-4">A variety of exotic threads are woven into the tapestry that produce
          the Red Sea's unusual oceanographic...</p>
        <a routerLink = "/redsea" class="text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">The Svalbard Island</h2>
        <img src="assets/svalbard.jpg" border-radius="50%">
        <p class="leading-relaxed text-base mb-4">The northern parts of Norway are the best places in the world to see
          the northern lights...</p>
        <a routerLink = "/svalbard" class="text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">The Fairy Pools</h2>
        <img src="assets/FairyPools.jpg" border-radius="50%">
        <p class="leading-relaxed text-base mb-4">At foot of the Black Cuillins near Glenbrittle are the Fairy Pools,
          beautifully crystal clear blue pools on the River Brittle....</p>
        <a routerLink = "/fairypools" class="text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
    <a routerLink = "/support">
      <button
        class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Support
        Us!</button>
    </a>
  </div>
</section>